<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ESP Solar Boy</title>
    <link rel="stylesheet" href="style.css">
    <script src="htmx.min.js"></script>
</head>
<body>
<header>
    <div class="logo-container">
        <img class="logo" src="logo.svg" alt="ESP Solar Boy Logo">
    </div>
    <h1>ESP Solar Boy</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/update">Firmware</a>
    </nav>
</header>
<main>
    <div class="relays">
        <div class="relay">
            <a href="/pin/16" class="relay-link">
                <div class="relay-indicator" hx-get="/pin/16/indicator" hx-trigger="load, every 10s" hx-swap="outerHTML">on</div>
                <div class="relay-label">D0</div>
                <div class="relay-status"></div>
            </a>
        </div>
        <div class="relay">
            <a href="/pin/5" class="relay-link">
                <div class="relay-indicator" hx-get="/pin/5/indicator" hx-trigger="load, every 10s" hx-swap="outerHTML">off</div>
                <div class="relay-label">D1</div>
                <div class="relay-status"></div>
            </a>
        </div>
        <div class="relay">
            <a href="/pin/4" class="relay-link">
                <div class="relay-indicator" hx-get="/pin/4/indicator" hx-trigger="load, every 10s" hx-swap="outerHTML">off</div>
                <div class="relay-label">D2</div>
                <div class="relay-status"></div>
            </a>
        </div>
    </div>

    <div class="metrics">
        <div class="metric-card large">
            <div class="metric-title">Battery & charging power</div>
            <div class="battery-section">
                <div class="battery-info">
                    <div class="metric-value"><span id="battery" hx-get="/data/battery" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> %</div>
                    <div class="power-direction">
                        <div class="power-arrow" hx-get="/getPowerArrow" hx-trigger="load, every 10s" hx-swap="outerHTML"></div>
                        <span class="charging-text"><span id="battery-charge-rate" hx-get="/data/batteryChargeRate" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</span>
                    </div>
                </div>
                <div class="battery-container">
                    <div class="battery-level" style="width: 0;" hx-get="/getBatteryLevel" hx-trigger="load, every 10s" hx-swap="outerHTML"></div>
                </div>
            </div>
        </div>

        <div class="metric-card">
            <div class="metric-title">Solar plant power output</div>
            <div class="metric-value"><span id="plant-power" hx-get="/data/plantPower" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</div>
            <div class="connection-status" hx-get="/getConnectionStatus" hx-trigger="load, every 10s" hx-swap="innerHTML">
                <div class="connection-indicator disconnected"></div>
                <div class="connection-text disconnected-text">Sun2000 disconnected</div>
            </div>
        </div>

        <div class="metric-card">
            <div class="metric-title">Power meter</div>
            <div class="metric-value"><span id="grid-feed" hx-get="/data/powerMeterActivePower" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</div>
        </div>
    </div>
</main>
<footer>
    <span>Version: </span><a href="https://github.com/gsilvan/esp-solar-boy/releases" hx-get="/data/firmwareVersion" hx-trigger="load" hx-swap="innerHTML"></a>
</footer>
</body>
</html>