<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ESP Solar Boy</title>
    <link rel="stylesheet" href="style.css">
    <script src="htmx.min.js"></script>
</head>
<body>
<main>
    <h1>ESP Solar Boy</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/update">Firmware</a>
    </nav>
    <h2>Dashboard</h2>
    <div class="pins">
        <div id="pin0">
            <span>Pin 0</span>
            <div class="pin-indicator"
                 hx-get="/data/pin0indicator"
                 hx-trigger="load, every 10s"
                 hx-swap="outerHTML">
            </div>
        </div>
        <div id="pin1">
            <span>Pin 1</span>
            <div class="pin-indicator"></div>
        </div>
        <div id="pin2">
            <span>Pin 2</span>
            <div class="pin-indicator"></div>
        </div>
    </div>
    <p>Battery: <span id="battery" hx-get="/data/battery" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> %</p>
    <p>Battery charge rate: <span id="battery-charge-rate" hx-get="/data/batteryChargeRate" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</p>
    <p>Plant power: <span id="plant-power" hx-get="/data/plantPower" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</p>
    <p>Power meter active power: <span id="grid-feed" hx-get="/data/powerMeterActivePower" hx-trigger="load, every 10s" hx-swap="innerHTML">...</span> W</p>
</main>
<footer>
    <span>Version: </span><a href="https://github.com/gsilvan/esp-solar-boy/releases" hx-get="/data/firmwareVersion" hx-trigger="load" hx-swap="innerHTML"></a>
</footer>
</body>
</html>