<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Settings - ESP Solar Boy</title>
    <link rel="stylesheet" href="style.css">
    <script src="htmx.min.js"></script>
</head>
<body>
<main>
    <h1>ESP Solar Boy</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/settings">Settings</a>
        <a href="/update">Firmware</a>
    </nav>
    <h2>Settings</h2>
    <div id="message"></div>
    <form method="post" hx-post="/settings" hx-target="#message" hx-swap="innerHTML">
        <h3>Inverter</h3>
        <div class="field">
            <label for="settings-inverter-ip">IPv4:</label>
            <input class="input"
                   type="text"
                   id="settings-inverter-ip"
                   name="settings-inverter-ip"
                   value=""
                   hx-get="/getInverterIp"
                   hx-trigger="load"
                   hx-on::after-request="this.value = event.detail.xhr.responseText">
        </div>
        <div class="field">
            <label for="settings-inverter-port">Port:</label>
            <input class="input"
                   type="number"
                   min="0"
                   max="65536"
                   id="settings-inverter-port"
                   name="settings-inverter-port" value=""
                   hx-get="/getInverterPort"
                   hx-trigger="load"
                   hx-on::after-request="this.value = event.detail.xhr.responseText">
        </div>
        <div class="field">
            <label for="settings-inverter-modbus-unit">Modbus Unit:</label>
            <input class="input"
                   type="text"
                   id="settings-inverter-modbus-unit"
                   name="settings-inverter-modbus-unit"
                   value=""
                   hx-get="/getInverterModbusUnit"
                   hx-trigger="load"
                   hx-on::after-request="this.value = event.detail.xhr.responseText">
        </div>
        <h3>Telemetry</h3>
        <div class="field">
            <label for="enable-data-collection">On:</label>
            <input class="input"
                   type="checkbox"
                   id="enable-data-collection"
                   name="enable-data-collection"
                   hx-get="/getTelemetryCheckbox"
                   hx-trigger="load"
                   hx-target="#enable-data-collection"
                   hx-swap="outerHTML">
        </div>
        <div class="field">
            <label for="data-collection-url">URL:</label>
            <input class="input"
                   type="text"
                   id="data-collection-url"
                   name="data-collection-url"
                   value=""
                   hx-get="/getTelemetryUrl"
                   hx-trigger="load"
                   hx-on::after-request="this.value = event.detail.xhr.responseText">
        </div>
        <h3>PINS</h3>
        <ul>
            <li><a href="/pin/5">PIN 5</a></li>
        </ul>
        <button>Save</button>
    </form>
</main>
</body>
</html>